html {
    font-family: 'Alata', sans-serif;
    color: white;
    background-color: #2F2F2F;
}

.background__lines {
    background-image: url("../img/Group7.png");
    width: 100%;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
}



.header__button {
    text-decoration: none;
    color: white;
}
.header__button :hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition-duration: .2s;
}



sub {
    color: #FF0000;
    left: -10px;
    top: 10px;
}


header {
    margin: auto;
    background-color: rgb(0, 0, 0);

}

.header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3em 0 1em;
}
.header__links {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding-top: .25em;
    align-items: center;
}
.header__logo {
    padding-top: 1em;
}



.line__vertical {
    background-color: rgb(255, 255, 255);
    width: 2px;
    height: 38px;
    padding-top: -1em;
}
.line__horizontal {
    background-color: white;
    width: 100%;
    height: 2px;
}
.line__header {
    background-color: white;
    width: 550px;
    height: 5px;
    margin: auto;
    margin-top: 1em;
}
.line__small {
    background-color: white;
    width: 150px;
    height: 3px;
    margin: auto;
    margin-top: 1em;
}
.line__small--small {
    background-color: white;
    width: 75px;
    height: 3px;
    margin: auto;
}



.title {
    background-image: url("../img/image1.png");
    width: 100%;
    background-position: center;
    height: 530px;
    background-repeat: no-repeat;
}
.title__2 {
    background-image: url("../img/image15.png");
    width: 100%;
    background-position: center;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}  
.section__radiant {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 65%, rgba(255,255,255,0) 100%);
}
.title__2 h2 {
    background-color: rgba(0, 0, 0, 0.603);
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    
}



a {
    text-decoration: none;
    color: white;
}
.h1 {
    margin:0 0 0 0;
    text-align: center;
    padding-top: 4em;
    font-size: 50px;
}
h2 {
    margin:0 0 0 0;
    text-align: center;
    padding-top: 4em;
    font-size: 30px;
}
h3 {
    text-align: center;
    padding-top: 4em;
    padding-bottom: .1em;
    font-size: 25px;
    margin-top: 0;
}
p {
    text-align: center;
    width: 30%;
    margin: auto;
}
section {
    padding-bottom: 3em;
}
article {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
}



.last {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 4em;
    margin-bottom: 3em;
}
.last img {
    max-width: 600px;
}


.button {
    display: flex;
    justify-content: center;
}
.button a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: #0075FF;
    margin: auto;
    margin-top: 2em;
    padding: .5em;
}
.button a :hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition-duration: .2s;
}
.mail {
    transition: .2s;
}
.mail:hover {
    color: #0075FF;
    transition: .2s;
}






footer {
    background-color: rgb(0, 0, 0);
}
.footer__mainwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__links--wrapper {
    margin-right: 10em;
}
.footer__logo {
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 2em;
}
.footer__text p {
    text-align: left;
    margin-left: 5em;
    margin-right: 10em;
    width: 18em;
    margin-bottom: 2em;
}
.footer__links--wrapper {
    display: flex;
    flex-direction: row;
    gap: 10vw;
}
.footer__links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer__line {
    background-color: white;
    width: 100%;
    height: 2px;
    margin-top: 2em;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin: auto 3em;
    margin-top: .5em;
    padding: 2em;
}
.footer__bottom--links {
    display: flex;
}
.footer__separator {
    background-color: rgb(255, 255, 255);
    width: 1px;
    height: 20px;
    margin-left: 1em;
    margin-right: 1em;
}