html {
    font-family: 'Alata', sans-serif;
    color: white;
    background-color: #2F2F2F;
}



.header__button {
    text-decoration: none;
    color: white;
}
.header__button :hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition-duration: .2s;
}



sub {
    color: #FF0000;
    left: -10px;
    top: 10px;
}

.line__horizontal {
    background-color: white;
    width: 100%;
    height: 3px;
}
header {
    margin: auto;
    background-color: rgb(0, 0, 0);

    vertical-align: middle;
}

.header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em 0 1em;
}
.header__links {
    display: flex;
    gap: 1em;
    padding-top: .75em;
}
.header__logo {
    padding-top: 1em;
}
.line__vertical {
    background-color: rgb(255, 255, 255);
    width: 2px;
    height: 38px;
}



.title {
    background-image: url("../img/image1.png");
    width: 100%;
    background-position: center;
    height: 530px;
    background-repeat: no-repeat;
}
.title__2 {
    background-image: url("../img/image15.png");
    width: 100%;
    background-position: center;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

}  


.h1 {
    margin:0 0 0 0;
    text-align: center;
    padding-top: 4em;
    font-size: 50px;
}
h2 {
    margin:0 0 0 0;
    text-align: center;
    padding-top: 4em;
    font-size: 30px;
}
h3 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: .1em;
    font-size: 25px;
}
p {
    text-align: center;
    width: 30%;
    margin: auto;
}
section {
    padding-bottom: 3em;
}


.title__2 h2 {
    background-color: rgba(0, 0, 0, 0.603);
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    
}
.line__header {
    background-color: white;
    width: 550px;
    height: 5px;
    margin: auto;
    margin-top: 1em;
}
.line__small {
    background-color: white;
    width: 150px;
    height: 3px;
    margin: auto;
    margin-top: 1em;
}